.FormProducto{
    margin-top: 20px;
    border: 1px solid #000000;
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9f9f9;

}

.LabelProd{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.imputProd[type="text"]{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
}

.botonProd{
    color: rgb(34, 34, 34);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


h2{
    text-align: center;
}

