@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: "Bebas Neue", sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    background-image: url('https://img.freepik.com/vector-gratis/fondo-cielo-color-pastel-gradiente_23-2148917404.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    color: #151515;
    font-size: 50px;
}

h2 {
    color: #484848;
}

ol {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li {
    margin-bottom: 10px;
    font-size: x-large;
    font-weight: bold;
}

p {
    font-size: 14px;
    color: #555;
    text-align: justify;
    
}

img {
    display: block;
    margin: 10px auto;
    max-width: 50%;
    height: auto;
}